.App {
  text-align: center;
  background-color: white;

}

.App-header {
  background-color: rgb(0, 0, 1);
  padding: 20px;
  color: rgb(244, 244, 245);
  top: 0;
  width: auto;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logo{
  border-top: 0;
  width: 50px;
  background-color: transparent;
  margin-left: 10px;
}
